
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
        th{
            
            margin-top: 30px;
            color:black;
            padding-right: 200px;
        }
        .navbar{
            background-color: black;
            height: 70px;
            position: absolute;
            top:0px;
            width: 100%;
           left:0px;
        }
        ul{
            list-style-type: none;
            padding-top: 10px;
        
        }
        ul li {
            display: inline;
            margin-left: 50px;
            font-size: 15px;
          
          
          
        }
        a{
            font-weight:800;
              text-decoration: none;
              color:chartreuse;
        }
        ul li:hover{
            color:cadetblue;
            cursor: pointer;
        }
        #form{
            margin-top: 100px;
            background-color: cadetblue;
            border-radius: 20px;
            width:700px;
            font-weight: 900;
            padding: 50px;
        }
        #form a{
            color:darkred;
            text-decoration: none;
        }
       #form input[type="text"]
        {
            width: 250px;
            border:2px solid black;
            margin-right: 30px;
        }
    </style>
  </head>
  <body>

    <h1 style="margin-top: 100px;">
    ADD NEW PASSWORD
    </h1>

    <div class="navbar">
       <ul>
        <li>
          <a href="/">Home</a>  
        </li>
        <li>
            <a href="/Addnewpassword">     Add new Password</a>
       
        </li>
        <li>
            <a href="/viewallpassword"> view all password</a>
        
        </li>
        <li>
            <a href="/Addnewcategory">  Add New Category</a>
           
        </li>
     
        <li>

            <a href="/passwordcategory"> View All Category</a>
        </li>
        <li style="margin-left:200px;">
            <a href="/logout" style="color:white;font-size: 20px;">Logout</a>
        </li>

</ul>
    </div>
    <h3 style="color:green;"><%=success%></h3>
    <form method="POST" id="form" action="/Addnewpassword">
        Enter your New password Category 
        &emsp13;
        
        <select name="categoryPass">
            <option value="">
                Select Password Category
            </option>
            
            <%if(records.length>0){records.forEach((rows)=>{%>

                         <option value="<%=rows.password_category%>">
                 <%=rows.password_category%>
            </option>
        
            <%})}%>

        </select>
        <br>
        <br>
       ProjectName &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp; &nbsp;&nbsp;&nbsp; <input type="textbox" name="project_name" placeholder="enter your project name">
        <br> <br>
        Passwords Details
        <br> <br>
        <textarea  rows="5" cols="30" id="editor1" name="pass_details" placeholder="Enter your password Detail ">
            </textarea>

            <br>
          <input type="submit" value="add new Password" style="background-color: black;color:deeppink">
          <p>
              
              <a href="/viewallpassword">View ALL PASSWORD List</a>
            </p>
      </form>

      <script>


var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
        var recognition = new SpeechRecognition();
        const speech=new SpeechSynthesisUtterance();
        speech.text='WELCOME TO  our Add new password details '
        window.speechSynthesis.speak(speech)

        CKEDITOR.replace( 'editor1' );
</script>  

 </body>
</html>
