<%-include('header')%>

<table border="1px" style="border-collapse: collapse;width:auto;">

        <tr>
            <th>
                Password Category Name
            </th>
            <th>
            Projects Details
            </th>
            
        </tr>
        <tr>
            <%if(records.length>0){   records.forEach((rows)=>{%>
            <td>
               <%=rows.password_category%>

            </td>
            <td>
         Project name -:<%=rows.project_name%>
         <br>
         <br>
            login details <b> <%-rows.password_details%></b>
            </td>
     
          
        </tr>
        <%})}%>
    </table>


    </form>
    <script>


        var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();
                const speech=new SpeechSynthesisUtterance();
                speech.text='WELCOME TO  our View all password '
                window.speechSynthesis.speak(speech)
        
                CKEDITOR.replace( 'editor1' );
        </script>  
 </body>
</html>
